In [1]:
import pandas as pd
import numpy as np

In [36]:
# import the cleaned df
cleaned_df = pd.read_csv('cleaned_mbti.csv',index_col=0)
cleaned_df.head()

,type,posts,http_count,no_url,text
0,INFJ,'http://www.youtube.com/watch?v=qsXHcwe3krw|||...,24,' and intj moments sportscenter not top ten...,' and intj moments sportscenter not top ten...
1,ENTP,'I'm finding the lack of me in these posts ver...,10,'I'm finding the lack of me in these posts ver...,'I'm finding the lack of me in these posts ver...
2,INTP,'Good one _____ https://www.youtube.com/wat...,5,"'Good one _____ course, to which I say I k...","'Good one _____ course, to which I say I k..."
3,INTJ,"'Dear INTP, I enjoyed our conversation the o...",2,"'Dear INTP, I enjoyed our conversation the o...","'Dear INTP, I enjoyed our conversation the o..."
4,ENTJ,'You're fired.|||That's another silly misconce...,6,'You're fired.|||That's another silly misconce...,'You're fired. That's another silly misconcept...

In [37]:
# keep only the useful columns to the features dataframe
feature_df = cleaned_df[['type','text','http_count']]
feature_df.head()

   type                                               text  http_count
0  INFJ  ' and intj moments    sportscenter not top ten...          24
1  ENTP  'I'm finding the lack of me in these posts ver...          10
2  INTP  'Good one  _____    course, to which I say I k...           5
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...           2
4  ENTJ  'You're fired. That's another silly misconcept...           6

In [38]:
feature_df['q_count']=feature_df['text'].apply(lambda x: x.count('?'))
feature_df.head()

C:\Users\jjin9\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,type,text,http_count,q_count
0,INFJ,' and intj moments sportscenter not top ten...,24,2
1,ENTP,'I'm finding the lack of me in these posts ver...,10,4
2,INTP,"'Good one _____ course, to which I say I k...",5,10
3,INTJ,"'Dear INTP, I enjoyed our conversation the o...",2,9
4,ENTJ,'You're fired. That's another silly misconcept...,6,8

In [31]:
# count the number of exclamation marks
feature_df['ex_count']=feature_df['text'].apply(lambda x: x.count('!'))
feature_df.head()

,type,text,http_count,q_count,ex_count
0,INFJ,' and intj moments sportscenter not top ten...,24,2,3
1,ENTP,'I'm finding the lack of me in these posts ver...,10,4,0
2,INTP,"'Good one _____ course, to which I say I k...",5,10,4
3,INTJ,"'Dear INTP, I enjoyed our conversation the o...",2,9,3
4,ENTJ,'You're fired. That's another silly misconcept...,6,8,1

In [ ]:
# count the "I"s
p =

In [ ]:
# count the "you"s

In [ ]:
# count the